{% include 'incl/header.twig' %}

<body>
	{% include 'incl/nav.twig' %}
	<div class="main" role="main">
    <div class="landing-page">
		<a href="{{ base_url }}/image/patterns/white-1.jpg" target="_blank">
			<picture>
				<source media="(min-width: 1033px)" srcset="{{ base_url }}/image/patterns/white-1.jpg?w=275&h=275">
				<source media="(min-width: 700px)" srcset="{{ base_url }}/image/patterns/white-1.jpg?w=300&h=300">
				<img class="pattern-img" src="{{ base_url }}/image/patterns/white-1.jpg?w=325&h=325" alt="Pattern 1">
			</picture>
		</a>

		<a href="{{ base_url }}/image/patterns/white-2.jpg" target="_blank">
			<picture>
				<source media="(min-width: 1033px)" srcset="{{ base_url }}/image/patterns/white-2.jpg?w=275&h=275&crop-to-fit">
				<source media="(min-width: 700px)" srcset="{{ base_url }}/image/patterns/white-2.jpg?w=300&h=300&crop-to-fit">
				<img class="pattern-img" src="{{ base_url }}/image/patterns/white-2.jpg?w=325&h=325&crop-to-fit" alt="Pattern 2">
			</picture>
		</a>

		<a href="{{ base_url }}/image/patterns/white-3.jpg" target="_blank">
			<picture>
				<source media="(min-width: 1033px)" srcset="{{ base_url }}/image/patterns/white-3.jpg?w=275&h=275&crop-to-fit">
				<source media="(min-width: 700px)" srcset="{{ base_url }}/image/patterns/white-3.jpg?w=300&h=300&crop-to-fit">
				<img class="pattern-img" src="{{ base_url }}/image/patterns/white-3.jpg?w=325&h=325&crop-to-fit" alt="Pattern 3">
			</picture>
		</a>

		<a href="{{ base_url }}/image/patterns/other-1.jpg" target="_blank">
			<picture>
				<source media="(min-width: 1033px)" srcset="{{ base_url }}/image/patterns/other-1.jpg?w=275&h=275&crop-to-fit">
				<source media="(min-width: 700px)" srcset="{{ base_url }}/image/patterns/other-1.jpg?w=300&h=300&crop-to-fit">
				<img class="pattern-img" src="{{ base_url }}/image/patterns/other-1.jpg?w=325&h=325&crop-to-fit" alt="Pattern 4">
			</picture>
		</a>

		<a href="{{ base_url }}/image/patterns/other-2.jpg" target="_blank">
			<picture>
				<source media="(min-width: 1033px)" srcset="{{ base_url }}/image/patterns/other-2.jpg?w=275&h=275&crop-to-fit">
				<source media="(min-width: 700px)" srcset="{{ base_url }}/image/patterns/other-2.jpg?w=300&h=300&crop-to-fit">
				<img class="pattern-img" src="{{ base_url }}/image/patterns/other-2.jpg?w=325&h=325" alt="Pattern 5">
			</picture>
		</a>

		<a href="{{ base_url }}/image/patterns/other-3.jpg" target="_blank">
			<picture>
				<source media="(min-width: 1033px)" srcset="{{ base_url }}/image/patterns/other-3.jpg?w=275&h=275&crop-to-fit">
				<source media="(min-width: 700px)" srcset="{{ base_url }}/image/patterns/other-3.jpg?w=300&h=300&crop-to-fit">
				<img class="pattern-img" src="{{ base_url }}/image/patterns/other-3.jpg?w=325&h=325&crop-to-fit" alt="Pattern 6">
			</picture>
		</a>

		<a href="{{ base_url }}/image/patterns/square-1.jpg" target="_blank">
			<picture>
				<source media="(min-width: 1033px)" srcset="{{ base_url }}/image/patterns/square-1.jpg?w=275&h=275&crop-to-fit">
				<source media="(min-width: 700px)" srcset="{{ base_url }}/image/patterns/square-1.jpg?w=300&h=300&crop-to-fit">
				<img class="pattern-img" src="{{ base_url }}/image/patterns/square-1.jpg?w=325&h=325&crop-to-fit" alt="Pattern 7">
			</picture>
		</a>

		<a href="{{ base_url }}/image/patterns/square-2.png" target="_blank">
			<picture>
				<source media="(min-width: 1033px)" srcset="{{ base_url }}/image/patterns/square-2.png?w=275&h=275&crop-to-fit">
				<source media="(min-width: 700px)" srcset="{{ base_url }}/image/patterns/square-2.png?w=300&h=300&crop-to-fit">
				<img class="pattern-img" src="{{ base_url }}/image/patterns/square-2.png?w=325&h=325&crop-to-fit" alt="Pattern 8">
			</picture>
		</a>

		<a href="{{ base_url }}/image/patterns/square-3.jpg" target="_blank">
			<picture>
				<source media="(min-width: 1033px)" srcset="{{ base_url }}/image/patterns/square-3.jpg?w=275&h=275&crop-to-fit">
				<source media="(min-width: 700px)" srcset="{{ base_url }}/image/patterns/square-3.jpg?w=300&h=300&crop-to-fit">
				<img class="pattern-img" src="{{ base_url }}/image/patterns/square-3.jpg?w=325&h=325&crop-to-fit" alt="Pattern 9">
			</picture>
		</a>
    </div>
		<div class="youtube">
			<iframe src="https://www.youtube.com/embed/j5r_vHN_fkw" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	{% include 'incl/footer.twig' %}
</body></html>
